<link rel="stylesheet" href="/css/signup.css">

<div class="signup-container">
  <h1>Sign up</h1>
  <form action="/employee/signup/create" method="post">
          <label for="name">Username</label>
          <input type="text" id="name" name="name" required>
          
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
          
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
          
          <button type="submit">Signup</button>
  </form>
  <p>Already have an account? <a href="/employee/signin">Sign in</a></p>
</div>